<div class="message-wrapper" id="wrapper-<%= message.id -%>">
  <div class="message <%= message.user == Current.user ? "my-message" : "other-message" -%>">
    <div class="message-content">
      <% t, c = split_think_value message.content %>
      <% if message.user.ai_assistant? && t.present? %>
        <p class="message-think"><%= t -%></p>
      <% end %>
      <%= content_tag(:p, c, id: dom_id(message)) %>
    </div>
    <div class="message-timestamp">
      <%= message.created_at.strftime("%H:%M") %>
    </div>
  </div>
</div>
